.git
.github
.specify
.vscode

**/bin
**/obj
**/.next
**/node_modules
**/coverage
**/dist
**/build
**/.dart_tool
**/.gradle
**/DerivedData

apps/mobile/build
apps/mobile/.dart_tool
apps/mobile/android/.gradle
apps/mobile/ios/Pods

KT
docs/**/*.png
docs/**/*.pdf

